.header{
background-color: cadetblue;
color: white;
padding: 40px 20px;
margin-left: -10px;
margin-top: -10px;
}
h3{
    text-align: center;
}
.nav{

}
body{
    width: 100%;
}
ul{
    /* border: 1px solid blue;  */
    list-style: none; 
    background-color: brown;
    overflow: hidden; 
    margin:auto;
    margin-left: -10px;
}
ul > li{
 float: left;
 /* border: 1px solid black; */
}
/*위의 border로 영역확인 : ul 영역이 li 영역보다 작습니다.*/
ul > li a{
    display: block;
    color: aliceblue;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
ul > li a:hover{
    background-color: black;
    color: white;
}


.main{
    background-color: azure;
    padding: 20px;
    height: 500px;
    margin-left: -10px;
}
.footer{
background-color: cornflowerblue;
color: white;
margin-left: -10px;
text-align: center;
}